attrs==22.2.0
btrfsutil==6.2.2
cffi==1.15.1
cryptography==40.0.1
cssselect==1.2.0
distlib==0.3.6
filelock==3.10.0
lensfun==0.3.3
libinput-gestures-qt==0.4
lxml==4.9.2
mercurial==6.4.2
nftables==0.1
numpy==1.24.2
packaging==23.0
platformdirs==3.1.1
ply==3.11
pycparser==2.21
PyGObject==3.44.1
PyQt5==5.15.9
PyQt5-sip==12.12.1
QTermWidget==1.3.0
Reflector==2021.11.20.2.41.3
team==1.0
virtualenv==20.21.0
